@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
nav {
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171717;
}

nav * {
  color: #ffffff;
}

nav .burger {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 1%;
  display: none;
}

nav .links {
  height: 15vh;
}

nav .links li a {
  color: #f2f2f2;
  font-size: 0.95rem;
  padding: 8px 0;
  opacity: 40%;
}

nav .links li a:hover {
  opacity: 1;
}

nav .links li a.active {
  color: #276dff;
  font-weight: bold;
  border-bottom: 2px solid #276dff;
  opacity: 1;
}

nav .lang span {
  cursor: pointer;
  opacity: 40%;
}

nav .lang span.active {
  color: #276dff;
  opacity: 1 !important;
}

nav .icons span {
  position: relative;
}

nav .icons span i {
  cursor: pointer;
}

nav .icons span i.notification {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #01e837;
}

nav .list {
  left: 0;
  top: 0;
  min-height: 100vh;
  background-color: #171717;
  width: 30vw;
  -webkit-transform: translateX(-200vw);
          transform: translateX(-200vw);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  z-index: 999;
}

nav .list * {
  color: #ffffff;
}

nav .list.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav .list .list-links a {
  display: block;
  opacity: 40%;
  width: 100%;
  padding: 10px 0;
  border-radius: 7px;
}

nav .list .list-links a:hover {
  opacity: 1;
}

nav .list .list-links a.active {
  opacity: 1;
  background-color: #00000081;
  -webkit-box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.1);
  color: #276dff;
  font-weight: bold;
}

@media (max-width: 1024px) {
  nav {
    min-height: 7vh;
  }
  nav .burger {
    display: block;
  }
}

@media (max-width: 768px) {
  nav .list {
    width: 50vw;
  }
}

@media (max-width: 480px) {
  nav .list {
    width: 75vw;
  }
}

.slider {
  height: 85vh;
  overflow: hidden;
}

.slider .slider-context {
  z-index: 9;
  background-color: #00000081;
  color: #ffffff;
}

.slider .slider-context .headline h2 {
  opacity: 0.7;
  font-size: 3.5rem;
  letter-spacing: 3px;
}

.slider .slider-context .headline h1 {
  font-size: 5rem;
}

.slider .slider-context .input {
  border-radius: 10px;
}

.slider .slider-context .input input {
  caret-color: #000000;
  font-size: 1.2rem;
}

.slider .slider-context .input input:focus {
  outline: none;
}

.slider .slider-context .input .button button {
  background-color: #276dff;
  color: #ffffff;
}

.slider .swiper {
  width: 100%;
  height: 100%;
}

.slider .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
}

.slider .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .slider {
    height: 93vh;
  }
}

@media (max-width: 480px) {
  .slider .slider-context .headline h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .slider .slider-context .headline h1 {
    font-size: 3.1rem;
  }
  .slider .slider-context .input input {
    font-size: 1rem;
    text-align: center;
  }
}

.seperator .seperator-box {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 55px;
  height: 55px;
}

.clients .companies .image img {
  cursor: pointer;
}

.calculator .triangle {
  left: -180px;
  top: 20%;
}

.calculator .image-container figure {
  position: absolute;
  width: 75%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#276dff), to(#143780));
  background: linear-gradient(#276dff, #143780);
  top: 0;
  right: 30px;
  border-radius: 10px;
}

.calculator .image-container .absolutes {
  z-index: 9;
  top: -25px;
  right: 0px;
  background-color: #276dff;
}

.calculator .image-container .absolutes .time {
  right: 45px;
}

.calculator .image-container .image {
  -webkit-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
}

@media (max-width: 480px) {
  .calculator .image-container .image {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.calculator .form input {
  border-color: #e0e7ff;
}

.calculator .form .button button {
  color: #ffffff;
  background-color: #276dff;
}

.location {
  background-color: #276dff;
}

.location .button button {
  color: #276dff;
  font-weight: bold;
}

.features .card {
  min-height: 300px;
}

.features .card img {
  height: 190px !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.features .card .card-body {
  padding: 15px 0 0 0;
}

.features .card .card-body .card-text {
  opacity: 0.7;
  font-size: 0.9rem;
}

.features .triangle {
  right: -185px;
  top: 20%;
}

.features .traking-box {
  min-height: 60vh;
  border-radius: 10px;
  overflow: hidden;
}

.features .traking-box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features .traking-box .context {
  background-color: #276dff;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.features .freatures-card p {
  font-size: 0.75rem;
  opacity: 40%;
}

.customers .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.customers .swiper .swiper-slide {
  width: 50%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.customers .swiper .swiper-slide .swiper-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customers .swiper .swiper-slide .swiper-card .card-header {
  background: none !important;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}

.customers .swiper .swiper-slide .swiper-card .card-header .image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: none;
  border: 4px solid #ffffff;
}

.customers .swiper .swiper-slide .swiper-card .card-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.customers .swiper .swiper-slide .swiper-card .card-header h6 {
  margin: 8px auto;
  color: #ffffff;
}

.customers .swiper .swiper-slide .swiper-card .context {
  color: #ffffff;
  opacity: 70%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

@media (max-width: 480px) {
  .customers .swiper .swiper-slide {
    width: 90%;
    height: 250px;
  }
  .customers .swiper .swiper-slide .swiper-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .customers .swiper .swiper-slide .swiper-card .card-header {
    background: none !important;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
  }
  .customers .swiper .swiper-slide .swiper-card .card-header .image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: none;
  }
  .customers .swiper .swiper-slide .swiper-card .card-header .image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .customers .swiper .swiper-slide .swiper-card .card-header h6 {
    margin: 8px auto;
    color: #ffffff;
  }
  .customers .swiper .swiper-slide .swiper-card .context {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    font-size: 0.75rem;
  }
}

.customers .swiper-3d .swiper-slide-shadow-left,
.customers .swiper-3d .swiper-slide-shadow-right {
  background: none !important;
}

.customers .swiper-slide-active {
  background-color: #276dff !important;
}

.apps figure h2 {
  font-size: 5rem;
}

.apps .app-img img {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.apps .app-img img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.apps .icons i {
  font-size: 2.2rem;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.apps .icons i:hover {
  color: #276dff;
  opacity: 1;
}

footer {
  background-color: #0c0c0c;
  color: #ffffff;
}

footer .input {
  border-radius: 10px;
}

footer .input input:focus {
  outline: none;
}

footer .input button {
  background-color: #276dff;
  color: #ffffff;
}

footer .input button:hover {
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0c0c0c;
}

html #logoSpan,
html #logoSpanList,
html #headlineLogoSpan,
html #footerLogoSpan,
body #logoSpan,
body #logoSpanList,
body #headlineLogoSpan,
body #footerLogoSpan {
  color: #276dff !important;
}

html button,
body button {
  border-radius: 10px !important;
}

html .headTxt,
body .headTxt {
  font-size: 1.7rem;
  position: relative;
}

html .headTxt::after,
body .headTxt::after {
  content: "";
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  bottom: 0;
  left: 50%;
  width: 45px;
  height: 2px;
  background-color: #276dff;
}

html .haedlineP,
body .haedlineP {
  opacity: 50%;
  color: #0c0c0c;
}

html label,
body label {
  color: #8c98a9;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
/*# sourceMappingURL=main.css.map */