// files
@import "./Global/_variables";
@import "./Header/_Nav";
@import "./Header/_Slider";
@import "./Global/sperator";
@import "./clients";
@import "./calculator";
@import "./location";
@import "./features";
@import "./_customers";
@import "./app";
@import "./footer";

// imports
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $darkBrown;

  #logoSpan,
  #logoSpanList,
  #headlineLogoSpan,
  #footerLogoSpan {
    color: $blue !important;
  }

  button {
    border-radius: $rounded10 !important;
  }

  .headTxt {
    font-size: $midTxt + 0.5;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
      bottom: 0;
      left: 50%;
      width: 45px;
      height: 2px;
      background-color: $blue;
    }
  }
  .haedlineP {
    opacity: $faded + 10;
    color: $darkBrown;
  }

  label {
    color: $blueGrey;
    font-size: $midTxt;
    letter-spacing: 1px;
  }
}
