// Color

$white: #ffffff;
$black: #000000;
$darkBrown: #0c0c0c;
$liteDarkBrown: #171717;
$blue: #276dff;
$darkBlue: #143780;
$dustBlue: #2e384d;
$liteblue: #e0e7ff;
$blueGrey: #8c98a9;
$liteGrey: #00000081;
$grey: #707070;
$darkGrey: #4b4b4b;
$whiteGrey: #fafafa;
$green: #01e837;

// Sizes
$smTxt: 0.75rem;
$midTxt: 1.2rem;
$lgTxt: 3.5rem;
$xlTxt: 5rem;

// Rounding
$rounded: 7px;
$rounded10: 10px;

// Shadows
$whiteLgShadow: 0px 2px 20px rgba(255, 255, 255, 0.1);
$faded: 40%;
